<div id="mapid" style="height:97vh;box-shadow: 5px 5px 10px lightgray;">
</div>
<% Vehiclenode.all.each_with_index do |vehNode, index| %>
  <div id="veh-info<%= index +1 %>" data-lat="<%=vehNode.lat %>"
       data-long="<%= vehNode.long %>" data-time="<%= vehNode.n_time %>"
       data-type="<%= vehNode.v_type %>" data-make="<%= vehNode.make %>"
       data-model="<%= vehNode.model %>" data-vehicle_id="<%= vehNode.vehicle_id %>"></div>
<%end%>


<script>

  var vehLayer = new L.layerGroup([]);
  var vehArray = [];
  var i, k;

    for (i = 1; i < 1000; i++){
        var lt = $('#veh-info'+i).data('lat');
        var lo = $('#veh-info'+i).data('long');
        var time = $('#veh-info'+i).data('time');
        var type = $('#veh-info'+i).data('type');
        var make = $('#veh-info'+1).data('make');
        var model = $('#veh-info'+1).data('model');
        var vID = $('#veh-info'+1).data('vehicle_id');

        if (lt === undefined) {
            i = 1000;
        } else {
            k = i;
            if (type == 'ambulance') {
                vID = L.marker([lt, lo], {icon: ambulanceIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'truck') {
                vID = L.marker([lt, lo], {icon: truckIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'boat') {
                vID = L.marker([lt, lo], {icon: boatIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'firefighter') {
                vID = L.marker([lt, lo], {icon: firefighterIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'police') {
                vID = L.marker([lt, lo], {icon: policeIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'helo') {
                vID = L.marker([lt, lo], {icon: heloIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else {
                vID = L.marker([lt, lo], {icon: carIcon}, {riseOnHover: true}).bindPopup('Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            }
            //vID.addTo(mymap);
            vehArray.push(vID);
        }//end else

    }//end for

  for (i = 0; i < vehArray.length; i++) {
      vehArray[i].addTo(vehLayer);
  }
  vehLayer.addTo(mymap);
  //***zach the following line removes the layer of icons from the map,
  //may need to put the whole section above (the for loop) into a function
  //depending on how you plan on calling this

  //vehLayer.remove();


</script>