<div id="mapid" style="height:97vh;box-shadow: 5px 5px 10px lightgray;">
</div>
<% Vehiclenode.all.each_with_index do |vehNode, index| %>
  <div id="veh-info<%= index +1 %>" data-lat="<%=vehNode.lat %>"
       data-long="<%= vehNode.long %>" data-time="<%= vehNode.n_time %>"
       data-type="<%= vehNode.v_type %>" data-make="<%= vehNode.make %>"
       data-model="<%= vehNode.model %>" data-vehicle_id="<%= vehNode.vehicle_id %>"></div>
<%end%>


<script>
    vehLayer.clearLayers();

    var i, marker;

    for (i = 1; i < 1000; i++){
        var lt = $('#veh-info'+i).data('lat');
        var lo = $('#veh-info'+i).data('long');
        var time = $('#veh-info'+i).data('time');
        var type = $('#veh-info'+i).data('type');
        var make = $('#veh-info'+i).data('make');
        var model = $('#veh-info'+i).data('model');
        var vID = $('#veh-info'+i).data('vehicle_id');

        if (lt === undefined) {
            i = 1000;
        } else {
            if (type == 'ambulance') {
                marker = L.marker([lt, lo], {icon: ambulanceIcon}, {riseOnHover: true});
            } else if (type == 'truck') {
                marker = L.marker([lt, lo], {icon: truckIcon}, {riseOnHover: true});
            } else if (type == 'boat') {
                marker = L.marker([lt, lo], {icon: boatIcon}, {riseOnHover: true});
            } else if (type == 'firefighter') {
                marker = L.marker([lt, lo], {icon: firefighterIcon}, {riseOnHover: true});
            } else if (type == 'police') {
                marker = L.marker([lt, lo], {icon: policeIcon}, {riseOnHover: true});
            } else if (type == 'helo') {
                marker = L.marker([lt, lo], {icon: heloIcon}, {riseOnHover: true});
            } else {
                marker = L.marker([lt, lo], {icon: carIcon}, {riseOnHover: true});
            }
            marker.bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            marker.addTo(vehLayer);
        }//end else

    }//end for

    vehLayer.addTo(mymap);

</script>