<div id="mapid" style="height:97vh;box-shadow: 5px 5px 10px lightgray;">
</div>
<% Vehiclenode.all.each_with_index do |vehNode, index| %>
  <div id="veh-info<%= index +1 %>" data-lat="<%=vehNode.lat %>"
       data-long="<%= vehNode.long %>" data-time="<%= vehNode.n_time %>"
       data-type="<%= vehNode.v_type %>" data-make="<%= vehNode.make %>"
       data-model="<%= vehNode.model %>" data-vehicle_id="<%= vehNode.vehicle_id %>"></div>
<%end%>
<script>
    L.Map.include({
        'clearLayers':function() {
            this.eachLayer(function (layer) {
                this.removeLayer(layer);
            }, this);
        }
    });


    var mymap = L.map('mapid').setView([33.21, -97.13],13);
    L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 20,
        id: 'mapbox.satellite-streets',
        accessToken: 'pk.eyJ1IjoicmVzcXVlbWUiLCJhIjoiY2pkZG91aDNuMDRsMDJ3bmpnOGJpNGNlNyJ9.hwp2QeD6easWjlAlaEIJ2w'
    }).addTo(mymap);

    mymap.locate({
        watch: false,
        setView: false,
        enableHighAccuracy: true
    });

    function onLocationFound(e) {
        mymap.panTo(e.latlng);
        L.marker(e.latlng, {icon: circleIcon}).addTo(mymap).bindPopup('Current location: ' + e.latlng.lat.toPrecision(6) + ', ' + e.latlng.lng.toPrecision(6));
    }
    mymap.on('locationfound', onLocationFound);

    var myIcon = L.Icon.extend({
        popupAnchor:  [15, 0]
    });

    var zombieIcon = new myIcon({iconUrl: '/plugins/leaflet/images/zombie-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var tsunamiIcon = new myIcon({iconUrl: '/plugins/leaflet/images/tsunami-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var truckIcon = new myIcon({iconUrl: '/plugins/leaflet/images/truck-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var treedownIcon = new myIcon({iconUrl: '/plugins/leaflet/images/treedown-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var tornadoIcon = new myIcon({iconUrl: '/plugins/leaflet/images/tornado-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var skullIcon = new myIcon({iconUrl: '/plugins/leaflet/images/skull-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var sarIcon = new myIcon({iconUrl: '/plugins/leaflet/images/sar-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var policeIcon = new myIcon({iconUrl: '/plugins/leaflet/images/police-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var personIcon = new myIcon({iconUrl: '/plugins/leaflet/images/person-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var heloIcon = new myIcon({iconUrl: '/plugins/leaflet/images/helo-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var floodIcon = new myIcon({iconUrl: '/plugins/leaflet/images/flood-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var firefighterIcon = new myIcon({iconUrl: '/plugins/leaflet/images/firefighter-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var fireIcon = new myIcon({iconUrl: '/plugins/leaflet/images/fire-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var earthquakeIcon = new myIcon({iconUrl: '/plugins/leaflet/images/earthquake-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var carIcon = new myIcon({iconUrl: '/plugins/leaflet/images/car-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var boatIcon = new myIcon({iconUrl: '/plugins/leaflet/images/boat-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var avalancheIcon = new myIcon({iconUrl: '/plugins/leaflet/images/avalanche-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var ambulanceIcon = new myIcon({iconUrl: '/plugins/leaflet/images/ambulance-icon.png', iconSize: [36, 40], iconAnchor: [18,40]});
    var circleIcon = new myIcon({iconUrl: '/plugins/leaflet/images/fa-dot-circle.png', iconSize: [32, 32], iconAnchor: [16,16]});
</script>


<script>

  var vehLayer = new L.layerGroup([]);
  var vehArray = [];
  var i, k;

    for (i = 1; i < 1000; i++){
        var lt = $('#veh-info'+i).data('lat');
        var lo = $('#veh-info'+i).data('long');
        var time = $('#veh-info'+i).data('time');
        var type = $('#veh-info'+i).data('type');
        var make = $('#veh-info'+1).data('make');
        var model = $('#veh-info'+1).data('model');
        var vID = $('#veh-info'+1).data('vehicle_id');

        if (lt === undefined) {
            i = 1000;
        } else {
            k = i;
            if (type == 'ambulance') {
                vID = L.marker([lt, lo], {icon: ambulanceIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'truck') {
                vID = L.marker([lt, lo], {icon: truckIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'boat') {
                vID = L.marker([lt, lo], {icon: boatIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'firefighter') {
                vID = L.marker([lt, lo], {icon: firefighterIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'police') {
                vID = L.marker([lt, lo], {icon: policeIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else if (type == 'helo') {
                vID = L.marker([lt, lo], {icon: heloIcon}, {riseOnHover: true}).bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            } else {
                vID = L.marker([lt, lo], {icon: carIcon}, {riseOnHover: true}).bindPopup('Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            }
            //vID.addTo(mymap);
            vehArray.push(vID);
        }//end else

    }//end for

  for (i = 0; i < vehArray.length; i++) {
      vehArray[i].addTo(vehLayer);
  }
  vehLayer.addTo(mymap);
  //***zach the following line removes the layer of icons from the map,
  //may need to put the whole section above (the for loop) into a function
  //depending on how you plan on calling this

  //vehLayer.remove();


</script>