<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <%= link_to root_path, data: { pjax: true} do %>
          <i class="fa fa-pie-chart"></i>
          <span>Dashboard</span>
        <% end %>
      </li>

      <li class="header">GENERAL PAGES</li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-bars"></i> <span>Responders</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to page_path(page: "active_responders"), data: {pjax: true} do %>
              <i class="fa fa-user"></i>
              Active Responders
            <%end%>
          </li>
          <li>
            <%= link_to page_path(page: "Responder_gpsM"), data: {pjax: true} do %>
              <i class="fa fa-compass"></i>
              Responders GPS
            <%end%>
          </li>
          <li>
            <%= link_to page_path(page: "Vehicle_gps"), data: {pjax: true} do %>
              <i class="fa fa-car"></i>
              Vehicle GPS
            <%end%>
          </li>
          <li>
            <%= link_to page_path(page: "Overview_map"), data: {pjax: true} do %>
              <i class="fa fa-map"></i>
              Overview Map
            <%end%>
          </li>
          <li>
            <%= link_to page_path(page: "Stats"), data: {pjax: true} do %>
              <i class="fa fa-table"></i>
              Stats
            <%end%>
          </li>
        </ul>
      </li>

      <li>
        <%= link_to page_path(page: "email_inbox"), data: { pjax: true} do %>
          <i class="fa fa-commenting"></i>
          <span>Messenger</span>
        <% end %>
      </li>

      <li>
        <%= link_to page_path(page: "about"), data: { pjax: true} do %>
          <i class="fa fa-info-circle"></i>
          <span>About</span>
        <% end %>
      </li>

      <li>
        <%= link_to page_path(page: "Settings_org"), data: { pjax: true} do %>
          <i class="fa fa-gears"></i>
          <span>Settings</span>
        <% end %>
      </li>



    </ul>
  </section>
  <!-- /.sidebar -->
</aside>