
<% Respondernode.all.each_with_index do |resNode, index| %>
  <div id="res-info<%= index +1 %>" data-lat="<%= resNode.lat %>"
       data-long="<%= resNode.long %>" data-time="<%= resNode.n_time %>"
       data-name="<%= resNode.r_name %>" data-responder_id="<%= resNode.responder_id %>">
  </div>
<%end%>

<script>
    resLayer.clearLayers();

    var resArray = [];
    resArray.length = 0;

    var i, marker;

    for (i = 1; i < 1000; i++) {
        var lt = $('#res-info' + i).data('lat');
        var lo = $('#res-info' + i).data('long');
        var name = $('#res-info' + i).data('name');
        var time = $('#res-info' + i).data('time');
        var rID = $('#res-info' + i).data('responder_id');

        if (lt === undefined) {
            i = 1000;
        } else {
            marker = L.marker([lt, lo], {icon: firefighterIcon}, {myCustomId: rID}, {riseOnHover: true});
            marker.bindPopup(name + '<br>Organization<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            marker.addTo(resLayer);
        }//end
        resArray.push(marker);
    }//end for loop

    $(document).ready(function () {
        resLayer.addTo(mymap);
    });

    if (resLayer) {
        resLayer.update();
    }

</script>
