<% Vehiclenode.all.each_with_index do |vehNode, index| %>
  <div id="veh-info<%= index +1 %>" data-lat="<%=vehNode.lat %>"
       data-long="<%= vehNode.long %>" data-time="<%= vehNode.n_time %>"
       data-type="<%= vehNode.v_type %>" data-make="<%= vehNode.make %>"
       data-model="<%= vehNode.model %>" data-vehicle_id="<%= vehNode.vehicle_id %>"></div>
<%end%>


<script>
    vehLayer.clearLayers();

    var i, marker;

    for (i = 1; i < 1000; i++){
        var lt = $('#veh-info'+i).data('lat');
        var lo = $('#veh-info'+i).data('long');
        var time = $('#veh-info'+i).data('time');
        var type = $('#veh-info'+i).data('type');
        var make = $('#veh-info'+i).data('make');
        var model = $('#veh-info'+i).data('model');
        var vID = $('#veh-info'+i).data('vehicle_id');

        if (lt === undefined) {
            i = 1000;
        } else {
            if (type == 'ambulance') {
                marker = L.marker([lt, lo], {icon: ambulanceIcon}, {riseOnHover: true});
            } else if (type == 'truck') {
                marker = L.marker([lt, lo], {icon: truckIcon}, {riseOnHover: true});
            } else if (type == 'boat') {
                marker = L.marker([lt, lo], {icon: boatIcon}, {riseOnHover: true});
            } else if (type == 'firefighter') {
                marker = L.marker([lt, lo], {icon: firefighterIcon}, {riseOnHover: true});
            } else if (type == 'police') {
                marker = L.marker([lt, lo], {icon: policeIcon}, {riseOnHover: true});
            } else if (type == 'helo') {
                marker = L.marker([lt, lo], {icon: heloIcon}, {riseOnHover: true});
            } else {
                marker = L.marker([lt, lo], {icon: carIcon}, {riseOnHover: true});
            }
            marker.bindPopup('Make: ' + make + '<br>Model: ' + model + '<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            marker.addTo(vehLayer);
        }//end else

    }//end for

    vehLayer.addTo(mymap);

</script>


<% Respondernode.all.each_with_index do |resNode, index| %>
  <div id="res-info<%= index +1 %>" data-lat="<%= resNode.lat %>"
       data-long="<%= resNode.long %>" data-time="<%= resNode.n_time %>"
       data-name="<%= resNode.r_name %>" data-responder_id="<%= resNode.responder_id %>">
  </div>
<%end%>

<script>
    resLayer.clearLayers();

    var i, marker;

    for (i = 1; i < 1000; i++) {
        var lt = $('#res-info' + i).data('lat');
        var lo = $('#res-info' + i).data('long');
        var name = $('#res-info' + i).data('name');
        var time = $('#res-info' + i).data('time');
        var rID = $('#res-info' + i).data('responder_id');

        if (lt === undefined) {
            i = 1000;
        } else {
            marker = L.marker([lt, lo], {icon: firefighterIcon}, {myCustomId: rID}, {riseOnHover: true});
            marker.bindPopup(name + '<br>Organization<br>Loc: ' + lt + ', ' + lo + '<br>Last Update: ' + time);
            marker.addTo(resLayer);
        }//end
    }//end for loop

    resLayer.addTo(mymap);

</script>
